html,body {
    text-align: center;
    margin: 0;
    padding: 0;
    height: 98%;
}

.main {
    position: relative; /* needed for footer positioning*/
    margin: 0 auto; /* center, not in IE5 */
    height: auto !important; /* real browsers */
    height: 100%; /* IE6: treaded as min-height*/
    max-width: 960px;
    min-height: 100%; /* real browsers */

}

a {
    padding: 0;
    margin: 0;
    text-align: center;
}
ul {
   font-family: 'Istok Web', sans-serif;
   font-style: italic;
   font-size: 0.6em;
   padding-left: 0;
   list-style-type: none;
}
li {
    padding-top: 10px;
}

h1 {
   font-family: 'Sigmar One', cursive;
   font-size: 2em;
   color: cornflowerblue;
}

h2 {
   font-family: 'Istok Web', sans-serif;
   font-style: italic;
   font-size: 1em;
   color: #c0c0c0;
}

.menuitem a,
.menuitem a:visited {
    text-decoration: none;
    color: chocolate;
    clear: both;

}
.menuitem a:hover {
    color: cornflowerblue;
}
.menuitem {
    width: 100%;
    clear: both;
}

.menu {
    margin-top: 10%;
    font-size: 2em;
    padding-bottom: 10%;
    font-family: 'Sigmar One', cursive;

 }

footer {
    font-size: 0.78em;
    text-align: center;
    clear: both;
    color: #ccc;
    position: absolute;
    width: 100%;
    bottom: 0;
}

a {
    transition: 0.2s ease-in-out;
}

#show {
    display: none;
}

.pic {
    width: 50px;
    margin: 0 20px;
}

.social-icon {
    transition: 0.5s ease-in-out;
    width: 40px;
    margin: 0 10px;
}

.social-icon:hover{
    -webkit-transform: scale(1.2,1.2);
    -moz-transform: scale(1.2,1.2);
    -o-transform: scale(1.2,1.2);
    transform: scale(1.2,1.2);
}

#instrucList {
    display: none;
}
canvas {
    max-width: 550px;
 }

 .btn {
  display:inline-block;
  border-radius: 20%;
  font-family: 'Istok Web', sans-serif;
  color: #ffffff;
  font-size: 18px;
  background: cornflowerblue;
  padding: 10px 20px;
  text-decoration: none;
  width: 60px;
}


.btn:hover {
  text-decoration: none;
}

.inline1 {
    width: 100%;
    float: none;
    transition: 0.5s ease-in-out;

}
.inline2 {
    width: 40%;
    float: right;
    display: none;
    margin-top: 20%;
}
.btn {
  -webkit-user-select: none; /* disable selection/Copy of UIWebView */
  -webkit-touch-callout: none; /* disable the IOS popup when long-press on a link */
}